<div class="container">
  <h1>Edit a cocktail</h1>
  <%= render 'form', locals: { cocktail: @cocktail } %>
  <%= link_to 'Back to list', cocktails_path, class: 'btn btn-outline-primary mt-2' %>
</div>