<div class="container">
  <div class="default-card form-card">
    <h1 class="mb-3">Edit the '<%= @cocktail.name %>' cocktail</h1>
    <%= render 'form', locals: { cocktail: @cocktail } %>
    <%= link_to 'Back to cocktail', cocktail_path(@cocktail), class: 'btn btn-outline-primary mt-3' %>
  </div>
</div>