<div class="container">
  <h1 class="home-title">Discover our cocktails</h1>

  <div class="cocktail-cards-grid">
    <% @cocktails.each do |cocktail| %>
      <div class="cocktail-card">
        <div class="card-title"><%= cocktail.name %></div>
        <%= link_to 'More info', cocktail_path(cocktail), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>


