<div class="container"> 
  <div class="cocktail-cards-grid">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="default-card cocktail-card" style="background-image: url('<%= cloudinary_url(cocktail.photo.key, width: 720, height: 720, crop: :fill) %>')">
          <div class="cocktail-card-title"><%= cocktail.name.capitalize %></div>
        </div>
      <% end %>
    <% end %>
  </div>