// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cocktail-reviews {
  margin-top: 2rem;
}

.cocktail-review {
  margin-top: 1rem;
}

.cocktail-review-header {
  display: flex;
}

.cocktail-review-header {
  display: flex;
}

.cocktail-review-header-title {
  font-weight: bold;
  margin-left: 1rem;
}

.cocktail-review-date {
  color: $mid-gray;
}