<div class="container">
  <div class="default-card form-card">
    <h1 class="mb-3">Add a new review</h1>
    
    <div class="cocktail-recall">
      <% if @cocktail.photo.attached? %>
        <div class="cocktail-recall-img">
          <%= cl_image_tag @cocktail.photo.key, crop: :fill, style:'width: 100%' %>
        </div>
      <% end %>
      <div class="cocktail-recall-name">
        <%= @cocktail.name %>
      </div>
    </div>

    <hr>

    <%= render 'form', locals: { cocktail: @cocktail, review: @review } %>
    <%= link_to 'Back to cocktail', cocktail_path(@cocktail), class: 'btn btn-outline-primary' %>
  </div>
</div>